/* Footer Section start */
footer {
    background-color: #0B0223;
    padding: 120px 0;
}

.footer-container-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-name {
    color: #FFF;
}

.features-footer-section {
    display: flex;
    gap: 60px;
    margin-top: 65px;
    justify-content: center;
}

.features-footer-section-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.features-footer-section-title a {
    color: #FFF;
    text-decoration: none;
}

.features-footer-section-title a:hover {
    color: red;
}

.footer-social-media-icon {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 74px;
}

.footer-rules-policy-part {
    text-align: center;
}

.footer-rules-policy-part a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 60px;
    text-decoration: none;

}

.footer-copyright-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 28px;
}

.footer-logo {
    justify-content: center;
}
/* Footer Section End */

/* Now Responsive using -(Mobile)-media query */
@media screen and (max-width:576px) {
    .navbar-section{
        flex-direction: column;
        height: auto;
    }

    .menubar>ul {
        flex-direction: column;
    }

    .banner-part{
        flex-direction: column-reverse;
        height: auto;
        padding-top: 78px;
        align-items: center;  
    }

    .banner-01{
        width: 300px;
        margin: 0 auto;
    }

    .banner-01-title{
        font-size: 2.1rem;
        margin: 0;
        padding: 0;
    }

    .bold-banner-title{
        font-size: 3.1rem;
    }

    .banner-description{
        font-size: 0.88rem;
    }

    .btn-primary{
        padding: 10px 20px;
        margin-bottom: 50px;
        gap: 2px;
    }

    .banner-img-part {
        padding: 0px 50px;

    }

    .banner-content {
        width: 400px;
        background-size: contain;
        display: block;
        margin-bottom: 30px;
    }

    .funny-video-title {
        font-size: 2rem;
    }
    .video-section-text{
        font-size: 2rem;
    }

    .funny-videos-card {
        flex-direction: column;
        gap: 60px;
    }
    .funny-video-description{
        font-size: 1rem;
    }
    
    .play-instant-container{
        flex-direction: column;
        justify-content: center;
    }
    .play-instant-content{
        text-align: center;
    }
    .play-instant-img{
        margin: 0px;
    }
    .play-instant-img .first-img{
        margin-left: 0px;
    }
    .play-instant-img .first-img>img{
        width: 200px;
        height: 200px;
        padding: 0px;
    }
    .play-instant-img .second-img>img{
            width: 100px;
    }

    .play-instant-img .second-img{
        margin-top: -100px;
        margin-left: -50px;
    }
    .play-online-container{
        flex-direction: column;
        justify-content: center;
    }
    .play-online-content{
        text-align: center;
    }
    .play-online-title{
        text-align: center;
        font-size: 2.5rem;
    }
    .play-online-description{
        font-size: 1rem;
        width: 400px;
    }
    .play-online-img{
        padding-left: 40px;
    }
    .play-online-img .online-1st-img>img{
        width: 200px;
        height: 200px;
        padding: 0px;
    }
    .play-online-img .online-second-img>img{
        width: 100px;

    }
    
    .play-online-img .online-second-img{
        margin: 0%;
    }
    .play-online-img .online-second-img{
        margin-left: 150px;
        margin-top: -80px;
    }
    .games-category-part{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        justify-content: center;
        max-width: 100%;
    }
    .games-category{
      gap: 5px;
      align-items: center;
    }
    .game-type{
        color: #0B0223;
        font-size: 0.6rem;
        font-weight: 400px;
    }
    .games-icon>img{
        width: 25px;
    }
    .logo-part img {
        max-width: 40px;
        object-fit: cover;
    }
    .logo-name{
        font-size: 2rem;
    }
    .features-footer-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-right: 50px ;
        padding-left: 50px;
        gap: 0px;
       
    }
    .features-footer-section-title{
        text-align: center;
    }
    .footer-social-media-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .footer-social-media-icon>p{
        text-align: center;
        
    }
    .footer-rules-policy-part{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-left: 30px ;
        padding-right: 30px ;
        
    }
    .footer-rules-policy-part a{
        margin-right: 0px;
    }
    .footer-copyright-text{
        margin-top: 70px;
    }
    .footer-copyright-text #content1::after{
        content: "\a";
        white-space: pre;
        
    }

}